<header data-event="toggleCollapsed" class="discussion-section admin-link-hover-area {{read_state}}">
  <p class=author>{{author.display_name}}</p>
  <p class=summary>{{summary}}</p>
  <p class=message data-bind=message>{{message}}</p>
</header>
